{% extends "layout.html" %}
{% block content %}
<h1>IIT Kharagpur</h1>
<h5 class='text-muted'>Dedicated to the service of the Nation</h5>
<p>
<div>
    <div class="container text-center">
      <img width=100%;
  height=auto; alt="Logo" src="/static/profile_pics/kgp.jpg"  class="logo"/>
    </div>
    <br>
</div>
<h3>Motto</h3>
The motto of IIT Kharagpur is "Yogah Karmasu Kaushalam". This literally translates to "Excellence in action is Yoga", essentially implying that doing your work well is (true) yoga. This can be traced to Sri Krishna's discourse with Arjuna in the Bhagavad Gita. The quote, in the larger context of the Gita, urges man to acquire equanimity because a mind of equanimity allows a man to shed distracting thoughts of the effects of his deeds and concentrate on the task before him. Equanimity is the source of perfection in Karmic endeavours that leads to Salvation.

<br>
<br>
<h3>Mission</h3>
The Institute aligns all its activities to serve national interest and seeks

To provide broad-based education, helping students hone their professional skills and acquire the best-in-class capabilities in their respective disciplines
To draw the best expertise in science, technology, management and law so as to equip students with the skills to visualize, synthesize and execute projects in these fields
To imbibe a spirit of entrepreneurship and innovation in its students
To undertake sponsored research and provide consultancy services in industrial, educational and socially relevant areas

<br>
<br>
<h3>Vision</h3>

To be a centre of excellence in education and research, producing global leaders in science, technology and management
To be a hub of knowledge creation that prioritises the frontier areas of national and global importance
To improve the life of every citizen of the country</p>
{% endblock content %}
