{% extends "layout.html" %}
{% block content %}
<div class="col-md-16">
          <div class="content-section">
            <h1>Announcements</h1>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Coding mania 2021, Registrations open</li>
                <li class="list-group-item list-group-item-light">IIT Kharagpur to conduct COVID-19 survey</li>
                <li class="list-group-item list-group-item-light">Kalpana Chawala Institute of Space Research to be opened soon....</li>
                <li class="list-group-item list-group-item-light">etc.</li>
              </ul>
            </p>
          </div>
        </div>
{% endblock content %}
