{% extends "layout.html" %}
{% block content %}
<div class="col-md-16">
          <div class="content-section">
            <h1>Events</h1>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Seminar on Quantum Computing by Dr. Paul Benioff</li>
                <li class="list-group-item list-group-item-light">Seminar on history of computing by Prof. Partha Pratim Das</li>
                <li class="list-group-item list-group-item-light">Workshop on Deep learning by Google</li>
                <li class="list-group-item list-group-item-light">etc.</li>
              </ul>
            </p>
          </div>
        </div>
{% endblock content %}
