{% extends "layout.html" %}
{% block content %}
<h1>Gallery</h1>
<p>
<div>
    <div class="container text-center">
      <img width=100%;
  height=auto; alt="Logo" src="/static/profile_pics/kgp2.jpg"  class="logo"/>
    </div>
    <br>
</div>
<div>
    <div class="container text-center">
      <img width=100%;
  height=auto; alt="Logo" src="/static/profile_pics/kgp1.jpg"  class="logo"/>
    </div>
    <br>
</div>
<div>
    <div class="container text-center">
      <img width=100%;
  height=auto; alt="Logo" src="/static/profile_pics/kgp.jpg"  class="logo"/>
    </div>
    <br>
</div>
<div>
    <div class="container text-center">
      <img width=100%;
  height=auto; alt="Logo" src="/static/profile_pics/kgp3.jpg"  class="logo"/>
    </div>
    <br>
</div>
<div>
    <div class="container text-center">
      <img width=100%;
  height=auto; alt="Logo" src="/static/profile_pics/kgp4.jpg"  class="logo"/>
    </div>
    <br>
</div>
<div>
    <div class="container text-center">
      <img width=100%;
  height=auto; alt="Logo" src="/static/profile_pics/kgp5.jpg"  class="logo"/>
    </div>
    <br>
</div>
{% endblock content %}
