{% extends "layout.html" %}
{% block content %}
<h1>Research</h1>
<div>
    <div class="container text-center">
      <img width=100%;
  height=auto; alt="Logo" src="/static/profile_pics/kgp6.jpg"  class="logo"/>
    </div>
    <br>
</div>
<h4>Prof. PPC - Artificial Intelligence, CAD for VLSI, Algorithms, Formal Verification.</h4>
<p>The faculty and students pursue research in various fundamental aspects of Machine Learning, such as, distributed and communication efficient algorithms for Machine Learning and Big Data, deep neural network architectures, learning with temporal point processes, etc. We work on many diverse applications of Machine Learning to Social Networks, Transportation Networks, Climate Networks, Weather and climate modeling and prediction, Music and Natural Language Processing. Some of our work include Link Prediction. </p>
<br>
<div>
    <div class="container text-center">
      <img width=100%;
  height=auto; alt="Logo" src="/static/profile_pics/kgp7.jpg"  class="logo"/>
    </div>
    <br>
</div>
<h4>IIT Kgp Prof. Animesh Mukharjee got facebook award in Artificial Intelligence.</h4>
<br>
<div>
    <div class="container text-center">
      <img width=100%;
  height=auto; alt="Logo" src="/static/profile_pics/kgp8.jpg"  class="logo"/>
    </div>
    <br>
</div>
<h4>IIT Kgp develops Deekshak a e-classroom software for Indian academia.</h4>
<br>
<div>
    <div class="container text-center">
      <img width=100%;
  height=auto; alt="Logo" src="/static/profile_pics/kgp9.jpg"  class="logo"/>
    </div>
    <br>
</div>
<h4>Prof. AD - Cryptography, algebraic and number theoretic computation.</h4>
<p>The cryptography and security team has been working for the last 15 years on several topics ranging from theoretical constructions in cryptography, their design, and cryptanalysis to practical aspects on hardware and embedded security. In particular, the group has worked in several exciting projects; few of which are designing and analyzing lightweight ciphers, developing novel cryptographic solutions to allow processing on encrypted data, cryptanalysis of cryptographic algorithms, group signature schemes for batch verifications, hardware designs for complex Elliptic curve cryptosystems and post-quantum algorithms, side channel analysis, design of Physically Unclonable Functions (PUFs), lightweight protocols for authenticating IoT nodes, Integrated Circuits (IC) reverse engineering and trojan detection, secure authentication protocols for smart grids, etc.</p>
{% endblock content %}
